.project
.settings
webapps
shp-client-ios/SmartHomePoint/SmartHomePoint.xcodeproj/project.xcworkspace/contents.xcworkspacedata
shp-client-ios/SmartHomePoint/SmartHomePoint.xcodeproj/xcuserdata/TiggerJ.xcuserdatad/xcschemes/SmartHomePoint.xcscheme
